*.pyc
.vscode
logs/filamentor.log
filamentor_config.json
test/test_private.py
data/*
web/client_requests/*
web/.last_build_id
web/favicon.png
web/flutter_bootstrap.js
web/flutter_service_worker.js
web/flutter.js
web/index.html
web/main.dart.js
web/manifest.json
web/version.json
web/assets/AssetManifest.bin
web/assets/AssetManifest.bin.json
web/assets/AssetManifest.json
web/assets/FontManifest.json
web/assets/NOTICES
web/assets/assets/appainter_theme.json
web/assets/assets/image/splash_center.png
web/assets/fonts/MaterialIcons-Regular.otf
web/assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
web/assets/packages/window_manager/images/ic_chrome_close.png
web/assets/packages/window_manager/images/ic_chrome_maximize.png
web/assets/packages/window_manager/images/ic_chrome_minimize.png
web/assets/packages/window_manager/images/ic_chrome_unmaximize.png
web/assets/shaders/ink_sparkle.frag
web/canvaskit/canvaskit.js
web/canvaskit/canvaskit.js.symbols
web/canvaskit/canvaskit.wasm
web/canvaskit/skwasm.js
web/canvaskit/skwasm.js.symbols
web/canvaskit/skwasm.wasm
web/canvaskit/skwasm.worker.js
web/canvaskit/chromium/canvaskit.js
web/canvaskit/chromium/canvaskit.js.symbols
web/canvaskit/chromium/canvaskit.wasm
web/icons/Icon-192.png
web/icons/Icon-512.png
web/icons/Icon-maskable-192.png
web/icons/Icon-maskable-512.png
